

@{
    ViewData["Title"] = "Home Page";
}

<table id="my-task-table" width="100%">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    <tbody id="todos">
    </tbody>
</table>


<script src="~/js/task.js"></script>
<script type="text/javascript">
    getStatus(getName);
  //  getItems();
</script>
